doctype html
html
    head
        title Stream Poll
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    body
        table.table
            thead
                tr
                    th(width="10%") Note
                    th(width="80%") Nom
                    th(width="10%") ID
            tbody
                for prop in props
                    tr
                        td= prop.note
                        td= prop.name
                        td= prop.id
